{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="w3-display-container" style="text-align:center">
      <figure>
        <img src="images/apollo-homepage-image.png" style="width:50%" alt="Flow field Apollo capsule using Eilmer.">
      </figure>
    </div>
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/introduction/about-the-toolkit" | absURL }}" role="button">Get started</a>
      <p class="meta">Open-source GPL3 Licensed. <a href="https://bitbucket.org/cfcfd/dgd-git">Bitbucket repository</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <a href="{{ "docs/eilmer/about/" | absURL }}">
          <img src="images/ramp-in-3D-by-kad.png" style="width:60%" alt="Flow over ramp in 3D.">
        </a>
        <h2 class="h4"><a href="{{ "docs/eilmer/about/" | absURL }}">Eilmer</a></h2>
        <p>2D/3D CFD code for compressible flows.</p>
      </div>
      <div class="col-lg-6">
        <a href="{{ "docs/l1d/about/" | absURL }}">
          <img src="images/L1d_tube_analysis_plot_m10p0_plot_600dpi_xshift.png" style="width:60%" alt="Space-time diagram for X2 expansion tube.">
        </a>
        <h2 class="h4"><a href="{{ "docs/l1d/about/" | absURL }}">L1d</a></h2>
        <p>Quasi-1D simulator for impulse facilities</p>
      </div>
      <div class="col-lg-6">
        <img src="images/pitot-cli.png" style="width:40%" alt="Pitot command line interface.">
        <h2 class="h4">Impulse Facility Estimators</h2>
        <p>State-to-state estimator for flow processes in impulse facilities including:
          <a href="{{ "docs/pitot/about/" | absURL }}">Pitot</a>,
          <a href="{{ "docs/estcn/estcn-manual-for-hugo/" | absURL }}">ESTCN</a>, and
          <a href="{{ "docs/nenzf1d/nenzf1d-manual-for-hugo/" | absURL }}">NENZF1d</a>.</p>
      </div>
      <div class="col-lg-6">
         <a href="{{ "docs/introduction/about-the-toolkit/" | absURL }}">
           <img src="images/docs-image.png" style="width:40%" alt="User guides.">
         </a>
        <h2 class="h4"><a href="{{ "docs/introduction/about-the-toolkit/" | absURL }}">Documentation</a></h2>
        <p>Head here for the project docs! </p>
      </div>

      
    </div>
  </div>
</section>

{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
