<meta name="theme-color" content="{{ $.Site.Params.themeColor }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "eilmer-icon-2.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "eilmer-icon-2.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "eilmer-icon-2.png" | absURL }}">
<link rel="manifest" crossorigin="use-credentials" href="{{ "site.webmanifest" | absURL }}">
